<%- include('./partials/navbar.ejs') %>
<div class="container mt-5">
    <h1>Tornei Disponibili</h1>

    <%- include('./partials/messages.ejs') %>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <% tornei.forEach((torneo)=>{  %>
            <div class="col">
                <div class="col-mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Torneo di <%= torneo.gioco %></h5>
                            <p class="card-text">
                                <strong>Data:</strong> <%= torneo.data.toLocaleString().replace(/,.+/, '') %><br>
                                <strong>Fascia Oraria:</strong> <%=torneo.ora_inizio%> - <%=torneo.ora_fine%><br>
                                <strong>Max Giocatori:</strong> <%=torneo.max_iscritti%><br>
                            </p>
                            <form action="/iscrizioni/tornei" method="POST">
                                <input type="hidden" name="idTorneo" value="<%=torneo.id_torneo%>">
                                <button type="submit"  class="btn btn-success">Iscriviti Ora</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <%});%>

        <!-- Add more tournament cards here -->
    </div>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



